Repository younessaitali/portfolio-2.0: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:js, pnpm lint:prettier, pnpm prettier --write --loglevel warn --parser json

feat: add support to render markdown files
  .editorconfig
  .eslintignore
  .eslintrc
  .github/dependabot.yml
  .gitignore
  .husky/.gitignore
  .markdownlint.json
  .markdownlintignore
  .npmrc
  .prettierignore
  .prettierrc
  README.md
  index.html
  locales/en.yml
  locales/fr.yml
  netlify.toml
  package.json
  pnpm-lock.yaml
  public/_headers
  public/favicon.svg
  public/robots.txt
  public/safari-pinned-tab.svg
  src/directives/README.md
  src/modules/README.md
  src/pages/about.md
  src/styles/main.css
  src/styles/markdown.css
  test/__snapshots__/component.test.ts.snap
  vite.config.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm prettier --write --loglevel warn --parser json

feat: add linting for .md files
  .lintstagedrc.json
  README.md
  src/modules/README.md
Due: pnpm prettier --write --loglevel warn --parser json

feat: add home page
  .eslintrc
  package.json
  pnpm-lock.yaml
  src/components.d.ts
  src/components/AppFooter.vue
  src/components/AppHeader.vue
  src/components/Counter.vue
  src/components/logo.vue
  src/components/socialCard.vue
  src/layouts/default.vue
  src/pages/[...all].vue
  src/pages/about.md
  src/pages/hi/[name].vue
  src/pages/index.vue
  src/stores/user.ts
  src/styles/main.css
  test/__snapshots__/component.test.ts.snap
  unocss.config.ts
  vite.config.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm prettier --write --loglevel warn --parser json

test: remove old test
  test/component.test.ts
Due: pnpm lint:js, pnpm lint:prettier

test: remove old test
  cypress/integration/basic.spec.ts
Due: pnpm lint:js, pnpm lint:prettier

test: fix cypress test
  cypress/integration/basic.spec.ts
Due: pnpm lint:js, pnpm lint:prettier

feat: add gsap animation and start playing with it
  package.json
  pnpm-lock.yaml
  src/components.d.ts
  src/components/Logo.vue
  src/components/SocialCard.vue
  src/components/shapes/circle.vue
  src/components/shapes/line.vue
  src/pages/index.vue
Due: pnpm lint:js, pnpm lint:prettier, pnpm prettier --write --loglevel warn --parser json

feat: add build animation + start fun one
  package.json
  pnpm-lock.yaml
  src/Components.d.ts
  src/components/Logo.vue
  src/components/VSvg.vue
  src/components/compositions/build.vue
  src/components/compositions/fun.vue
  src/components/template/HomePage/BuildSection.vue
  src/components/template/HomePage/FunSection.vue
  src/components/template/HomePage/IntroductionSection.vue
  src/layouts/default.vue
  src/pages/index.vue
  src/types.ts
  vite.config.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm prettier --write --loglevel warn --parser json

feat: add 4 animation
  src/Components.d.ts
  src/components/VSvg.vue
  src/components/compositions/Balance.vue
  src/components/compositions/Build.vue
  src/components/compositions/Fun.vue
  src/components/compositions/Support.vue
  src/components/compositions/fun.vue
  src/components/template/HomePage/BalanceSection.vue
  src/components/template/HomePage/BuildSection.vue
  src/components/template/HomePage/SupportSection.vue
  src/layouts/default.vue
  src/pages/index.vue
Due: pnpm lint:js, pnpm lint:prettier

fix: tweek animation in support-animation
  src/components/compositions/Support.vue
Due: pnpm lint:js, pnpm lint:prettier

feat: design home page
  .nuxt/components.d.ts
  .nuxt/imports.d.ts
  .nuxt/nuxt.d.ts
  .nuxt/types/auto-imports.d.ts
  .nuxt/types/layouts.d.ts
  .stackblitzrc
  components/AppHeader.vue
  components/BalanceAnimation.vue
  components/BioNav.vue
  components/BuildAnimation.vue
  components/FunAnimation.vue
  components/Home/BalanceSection.vue
  components/Home/BuildSection.vue
  components/Home/FunSection.vue
  components/Home/IntroductionController.vue
  components/Home/IntroductionSection.vue
  components/Home/SupportSection.vue
  components/SocialMediaBar.vue
  components/SupportAnimation.vue
  components/VSvg.vue
  composables/useBioList.ts
  html.d.ts
  layouts/article.vue
  layouts/default.vue
  layouts/home.vue
  nuxt.config.ts
  pages/Build.vue
  pages/Fun.vue
  pages/Support.vue
  pages/balance.vue
  pages/blog/[slug].vue
  pages/blog/index.vue
  pages/index.vue
  pages/projects.vue
  public/images/p.webp
Due: pnpm lint:js, pnpm lint:prettier

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write --loglevel warn --parser json

feat: add project section
  .eslintignore
  .nuxt/components.d.ts
  .nuxt/dev/index.mjs
  .nuxt/dev/index.mjs.map
  .nuxt/imports.d.ts
  .nuxt/nuxt.d.ts
  .nuxt/tsconfig.json
  .nuxt/types/auto-imports.d.ts
  .nuxt/types/layouts.d.ts
  .nuxt/types/middleware.d.ts
  .nuxt/types/nitro.d.ts
  .nuxt/types/plugins.d.ts
  .nuxt/types/schema.d.ts
  components/AppHeader.vue
  components/ImageSelector.vue
  components/project.vue
  composables/useBioList.ts
  html.d.ts
  layouts/projects.vue
  nuxt.config.ts
  package.json
  pages/index.vue
  pages/projects.vue
  plugins/underLineDirective.ts
  pnpm-lock.yaml
  public/images/Annotation 2020-06-01 131901.webp
  public/images/Annotation 2020-06-01 132821.webp
  public/images/Annotation 2020-06-01 160543.webp
  public/images/Annotation 2020-06-01 164834.webp
  public/images/hero.webp
  public/images/p.webp
  public/images/win-terminal-admin.webp
  public/images/win-wsl-extension.webp
  public/m.jpg
  public/projects/mi_logo.png
  unocss.config.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm prettier --write --loglevel warn --parser json

feat: surffing project with schroll wheel
  .nuxt/dev/index.mjs
  .nuxt/imports.d.ts
  .nuxt/types/auto-imports.d.ts
  components/project.vue
  composables/useWheel.ts
  nuxt.config.ts
  pages/projects.vue
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:prettier

chore: update gitignore
  .gitignore
Due: none

chore: Delete .nuxt Folder
  .nuxt/components.d.ts
  .nuxt/dev/index.mjs
  .nuxt/dev/index.mjs.map
  .nuxt/imports.d.ts
  .nuxt/nuxt.d.ts
  .nuxt/tsconfig.json
  .nuxt/types/auto-imports.d.ts
  .nuxt/types/content.d.ts
  .nuxt/types/layouts.d.ts
  .nuxt/types/middleware.d.ts
  .nuxt/types/nitro.d.ts
  .nuxt/types/plugins.d.ts
  .nuxt/types/schema.d.ts
  .nuxt/types/vue-shim.d.ts
  .nuxt/views/document.template.mjs
Due: pnpm lint:js, pnpm lint:prettier, pnpm prettier --write --loglevel warn --parser json

fix: typo .gitignore file
  .gitignore
Due: none

feat: add projects
  components/project.vue
  layouts/default.vue
  layouts/home.vue
  pages/projects.vue
  public/projects/auto-k.svg
  public/projects/bpi.png
  public/projects/intaj.svg
  public/projects/vue-vite.png
Due: pnpm lint:js, pnpm lint:prettier

feat: working on new desing
  app.vue
  components/AppFooter.vue
  components/AppHeader.vue
  components/BalanceAnimation.vue
  components/BuildAnimation.vue
  components/DarkModeToggle.vue
  components/FunAnimation.vue
  components/Logo.vue
  components/SocialCard.vue
  components/SocialMediaBar.vue
  components/SupportAnimation.vue
  components/project.vue
  composables/useWheel.ts
  layouts/default.vue
  layouts/home.vue
  layouts/projects.vue
  nuxt.config.ts
  package.json
  pages/Build.vue
  pages/Fun.vue
  pages/Support.vue
  pages/balance.vue
  pages/blog/[slug].vue
  pages/contact.vue
  pages/index.vue
  pages/test.vue
  pages/work.vue
  plugins/underLineDirective.ts
  pnpm-lock.yaml
  public/projects/media.svg
  public/projects/tasks.svg
  unocss.config.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm prettier --write --loglevel warn --parser json

feat: add navigation for bio
  .eslintignore
  .gitignore
  .vscode/settings.json
  components/AppFooter.vue
  components/AppHeader.vue
  components/BalanceAnimation.vue
  components/BioNav.vue
  components/BuildAnimation.vue
  components/FunAnimation.vue
  components/SupportAnimation.vue
  components/project.vue
  composables/useBioList.ts
  composables/useBioTransition.ts
  composables/useNavigation.ts
  layouts/default.vue
  layouts/home.vue
  nuxt.config.ts
  package.json
  pages/Build.vue
  pages/Fun.vue
  pages/Support.vue
  pages/balance.vue
  pages/build.vue
  pages/fun.vue
  pages/support.vue
  pages/test.vue
  pages/work.vue
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:prettier, pnpm prettier --write --loglevel warn --parser json

chore: update dependencies
  package.json
Due: pnpm prettier --write --loglevel warn --parser json

feat: add animation for bio and navigatons
  components/AppHeader.vue
  components/BalanceAnimation.vue
  components/FunAnimation.vue
  components/HeadLine.vue
  components/SupportAnimation.vue
  components/forms/TextInput.vue
  components/icons/SendIcon.vue
  components/project.vue
  composables/useBioTransition.ts
  composables/useNavigation.ts
  layouts/default.vue
  layouts/home.vue
  middleware/animation.global.ts
  pages/balance.vue
  pages/build.vue
  pages/contact.vue
  pages/fun.vue
  pages/index.vue
  pages/support.vue
  pages/work.vue
  plugins/underLineDirective.ts
  unocss.config.ts
Due: pnpm lint:js, pnpm lint:prettier

feat: responsive design
  components/AppFooter.vue
  components/AppHeader.vue
  components/BioNav.vue
  components/HeadLine.vue
  components/icons/MenuIcon.vue
  components/project.vue
  layouts/default.vue
  layouts/home.vue
  pages/balance.vue
  pages/build.vue
  pages/contact.vue
  pages/fun.vue
  pages/index.vue
Due: pnpm lint:js, pnpm lint:prettier

feat: swipe animation + responsive
  .editorconfig
  components/AppFooter.vue
  components/AppHeader.vue
  components/BioNav.vue
  components/DarkModeToggle.vue
  components/HeadLine.vue
  components/project.vue
  composables/useBioTransition.ts
  layouts/default.vue
  layouts/home.vue
  pages/balance.vue
  pages/build.vue
  pages/fun.vue
  pages/index.vue
  pages/support.vue
  pages/work.vue
Due: pnpm lint:js, pnpm lint:prettier

fix: responsive for tablets
  components/HeadLine.vue
  composables/useBioTransition.ts
  pages/balance.vue
  pages/build.vue
  pages/fun.vue
Due: pnpm lint:js, pnpm lint:prettier

feat: add moblie menu
  .eslintrc
  .prettierrc
  components/AppFooter.vue
  components/AppHeader.vue
  components/DarkModeToggle.vue
  components/FadeTransition.vue
  components/project.vue
  layouts/default.vue
  layouts/home.vue
Due: pnpm lint:js, pnpm lint:prettier

feat(contact): add contact form and back-end logic
  .prettierrc
  components/forms/TextInput.vue
  composables/useBioTransition.ts
  generated/__routes.ts
  generated/__useTypedRouter.ts
  generated/index.ts
  generated/typed-router.d.ts
  index.d.ts
  layouts/home.vue
  nuxt.config.ts
  package.json
  pages/contact.vue
  pages/index.vue
  plugins/__typed-router.ts
  pnpm-lock.yaml
  server/api/contact.post.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm prettier --write --loglevel warn --parser json

ci(git): remove ./nuxt from gitignore
  .gitignore
  .nuxt/components.d.ts
  .nuxt/dev/index.mjs
  .nuxt/dev/index.mjs.map
  .nuxt/imports.d.ts
  .nuxt/nuxt.d.ts
  .nuxt/prerender/chunks/app/client.manifest.mjs
  .nuxt/prerender/chunks/app/client.manifest.mjs.map
  .nuxt/prerender/chunks/app/server.mjs
  .nuxt/prerender/chunks/app/server.mjs.map
  .nuxt/prerender/chunks/contact.post.mjs
  .nuxt/prerender/chunks/contact.post.mjs.map
  .nuxt/prerender/chunks/nitro/nitro-prerenderer.mjs
  .nuxt/prerender/chunks/nitro/nitro-prerenderer.mjs.map
  .nuxt/prerender/chunks/renderer.mjs
  .nuxt/prerender/chunks/renderer.mjs.map
  .nuxt/prerender/index.mjs
  .nuxt/prerender/index.mjs.map
  .nuxt/tsconfig.json
  .nuxt/types/auto-imports.d.ts
  .nuxt/types/content.d.ts
  .nuxt/types/layouts.d.ts
  .nuxt/types/middleware.d.ts
  .nuxt/types/nitro.d.ts
  .nuxt/types/plugins.d.ts
  .nuxt/types/schema.d.ts
  .nuxt/types/vue-shim.d.ts
  .nuxt/views/document.template.mjs
Due: pnpm lint:js, pnpm lint:prettier, pnpm prettier --write --loglevel warn --parser json

fix: to debug vercel serveless functions
  .nuxt/dev/index.mjs
  .nuxt/dev/index.mjs.map
  server/api/contact.post.ts
Due: pnpm lint:js, pnpm lint:prettier

fix: style for light mode add socials to mobile menu fix swipe
  .nuxt/dev/index.mjs
  .nuxt/dev/index.mjs.map
  components/AppFooter.vue
  components/AppHeader.vue
  components/SocialMediaBar.vue
  components/project.vue
  composables/useNavigation.ts
  pages/index.vue
  pages/work.vue
  server/api/contact.post.ts
  unocss.config.ts
Due: pnpm lint:js, pnpm lint:prettier

style: tweak a little responsive
  components/AppFooter.vue
  components/BioNav.vue
  components/HeadLine.vue
  components/SocialMediaBar.vue
  components/forms/TextInput.vue
  nuxt.config.ts
  pages/build.vue
  pages/contact.vue
Due: pnpm lint:js, pnpm lint:prettier

fix: soomoe accessibility issues and dark mode bug
  app.vue
  components/AppHeader.vue
  components/DarkModeToggle.vue
  components/SocialMediaBar.vue
  components/forms/TextInput.vue
  layouts/default.vue
  layouts/home.vue
  nuxt.config.ts
  pages/balance.vue
  pages/contact.vue
  pages/index.vue
  unocss.config.ts
Due: pnpm lint:js, pnpm lint:prettier

perf: optimize image and fix style issues
  .npmrc
  .nuxt/components.d.ts
  .nuxt/prerender/chunks/app/client.manifest.mjs
  .nuxt/prerender/chunks/app/server.mjs
  .nuxt/prerender/chunks/app/server.mjs.map
  .nuxt/prerender/chunks/contact.post.mjs
  .nuxt/prerender/chunks/contact.post.mjs.map
  components/AppHeader.vue
  components/project.vue
  package.json
  pages/work.vue
  pnpm-lock.yaml
  public/m.jpg
  public/projects/auto-k.svg
  public/projects/auto-k.svg:Zone.Identifier
  public/projects/bpi.png
  public/projects/intaj.svg
  public/projects/intaj.svg:Zone.Identifier
  public/projects/media.svg
  public/projects/media.svg:Zone.Identifier
  public/projects/mi_logo.png
  public/projects/tasks.svg
  public/projects/tasks.svg:Zone.Identifier
  public/projects/vue-vite.png
  public/vite.png
Due: pnpm lint:js, pnpm lint:prettier, pnpm prettier --write --loglevel warn --parser json

fix: navigation composable scroll bug
  .nuxt/prerender/chunks/app/client.manifest.mjs
  .nuxt/prerender/chunks/app/client.manifest.mjs.map
  .nuxt/prerender/chunks/app/server.mjs
  .nuxt/prerender/chunks/app/server.mjs.map
  .nuxt/prerender/chunks/contact.post.mjs
  .nuxt/prerender/chunks/contact.post.mjs.map
  .nuxt/prerender/chunks/nitro/nitro-prerenderer.mjs
  .nuxt/prerender/chunks/nitro/nitro-prerenderer.mjs.map
  .nuxt/prerender/chunks/renderer.mjs
  .nuxt/prerender/chunks/renderer.mjs.map
  .nuxt/prerender/index.mjs
  .nuxt/prerender/index.mjs.map
  .nuxt/tsconfig.json
  app.vue
  composables/useBioTransition.ts
  composables/useNavigation.ts
  composables/useWheel.ts
  layouts/home.vue
  pages/build.vue
  pages/fun.vue
  unocss.config.ts
Due: pnpm lint:js, pnpm lint:prettier, pnpm prettier --write --loglevel warn --parser json

style: change outline opacity
  components/HeadLine.vue
  composables/useBioTransition.ts
  pages/fun.vue
Due: pnpm lint:js, pnpm lint:prettier

fix: multiple bugs - navigation reversed and click add animation - fix style for work page - clear attributes for support animation -lint
  .nuxt/tsconfig.json
  components/SupportAnimation.vue
  components/project.vue
  composables/useBioTransition.ts
  layouts/home.vue
  middleware/animation.global.ts
  pages/balance.vue
  pages/build.vue
  pages/fun.vue
  pages/index.vue
  pages/support.vue
  pages/work.vue
Due: pnpm lint:js, pnpm lint:prettier, pnpm prettier --write --loglevel warn --parser json

chore: update dependencies
  .nuxt/components.d.ts
  .nuxt/imports.d.ts
  .nuxt/types/auto-imports.d.ts
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:prettier, pnpm prettier --write --loglevel warn --parser json

Path conditions:
  pnpm lint:js: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  pnpm lint:prettier: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)) or (any of: *.css)
  pnpm prettier --write --loglevel warn --parser json: any of: *.json
