Repository younessaitali/portfolio-2.0: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:js, pnpm lint:prettier, pnpm lint:md, pnpm prettier --write --loglevel warn --parser json

fix: outline on index page
  .nuxt/components.d.ts
  components/outline-text.vue
  pages/index.vue
Due: pnpm lint:js, pnpm lint:prettier

fix: bio nav rotation issue
  components/BioNav.vue
Due: pnpm lint:js, pnpm lint:prettier

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write --loglevel warn --parser json

fix: text-stroke render issuse
  .nuxt/imports.d.ts
  components/HeadLine.vue
  components/project.vue
  pages/contact.vue
  pages/index.vue
  pages/work.vue
  unocss.config.ts
Due: pnpm lint:js, pnpm lint:prettier

style: centring call to action - make navigation menu smaller
  layouts/default.vue
  layouts/home.vue
  pages/work.vue
Due: pnpm lint:js, pnpm lint:prettier

feat: change bio text
  pages/build.vue
  pages/contact.vue
  pages/fun.vue
  pages/support.vue
  pages/work.vue
Due: pnpm lint:js, pnpm lint:prettier

chore: update dependencies
  .nuxt/imports.d.ts
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:prettier, pnpm prettier --write --loglevel warn --parser json

feat: add text for balance page +change title on support page
  .nuxt/components.d.ts
  pages/balance.vue
  pages/support.vue
Due: pnpm lint:js, pnpm lint:prettier

style: centring call to action
  layouts/default.vue
Due: pnpm lint:js, pnpm lint:prettier

docs: change readme and change iconf
  README.md
  demo.png
  pages/fun.vue
  public/nuxt.png
Due: pnpm lint:js, pnpm lint:prettier, pnpm lint:md

fix: typos
  pages/build.vue
  pages/work.vue
Due: pnpm lint:js, pnpm lint:prettier

fix: typos
  pages/balance.vue
  pages/fun.vue
  pages/support.vue
Due: pnpm lint:js, pnpm lint:prettier

chore: update dependencies and remove warning of defineNuxtPlugin
  .nuxt/components.d.ts
  .nuxt/dev/index.mjs
  .nuxt/dev/index.mjs.map
  .nuxt/imports.d.ts
  .nuxt/tsconfig.json
  .nuxt/types/auto-imports.d.ts
  .nuxt/types/layouts.d.ts
  .nuxt/types/middleware.d.ts
  .nuxt/types/nitro.d.ts
  .nuxt/types/plugins.d.ts
  .nuxt/types/schema.d.ts
  package.json
  plugins/underLineDirective.ts
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:prettier, pnpm prettier --write --loglevel warn --parser json

feat: migration to the edge and update dep
  .nuxt/components.d.ts
  .nuxt/dev/index.mjs
  .nuxt/dev/index.mjs.map
  .nuxt/imports.d.ts
  .nuxt/tsconfig.json
  .nuxt/types/auto-imports.d.ts
  .nuxt/types/layouts.d.ts
  .nuxt/types/middleware.d.ts
  .nuxt/types/nitro.d.ts
  .nuxt/types/plugins.d.ts
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:prettier, pnpm prettier --write --loglevel warn --parser json

fix: remove zone identifier
  .nuxt/tsconfig.json
  package.json
  public/projects/auto-k.svg:Zone.Identifier
  public/projects/intaj.svg:Zone.Identifier
  public/projects/media.svg:Zone.Identifier
  public/projects/tasks.svg:Zone.Identifier
Due: pnpm prettier --write --loglevel warn --parser json

fix: Missing preload-helper bug
  .gitignore
  .nuxt/components.d.ts
  .nuxt/dev/index.mjs
  .nuxt/dev/index.mjs.map
  .nuxt/imports.d.ts
  .nuxt/tsconfig.json
  .nuxt/types/auto-imports.d.ts
  .nuxt/types/content.d.ts
  .nuxt/types/layouts.d.ts
  .nuxt/types/middleware.d.ts
  .nuxt/types/nitro.d.ts
  .nuxt/types/plugins.d.ts
  package.json
  pnpm-lock.yaml
Due: pnpm lint:js, pnpm lint:prettier, pnpm prettier --write --loglevel warn --parser json

build: remove edge function for now
  package.json
Due: pnpm prettier --write --loglevel warn --parser json

update resume
  pages/index.vue
Due: pnpm lint:js, pnpm lint:prettier

Path conditions:
  pnpm lint:js: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  pnpm lint:prettier: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)) or (any of: *.css)
  pnpm lint:md: any of: *.md
  pnpm prettier --write --loglevel warn --parser json: any of: *.json
